.product-block {
    display: block;
    text-align: center;
    height: 180px;
}

.product-logo {
    position: relative;
    width:80px;
    height: 80px;
    margin: auto;
    text-align: center;

}

.product-logo img {
    width: 80px;
    height: 80px;
}

.product-footer {
    background-color: transparent;
    border-color: #F5F5F5;
    height: 40px;
    font-size: 11px;
}

.product-link > li > a {
    font-size: 10px;
}
