<!--<div class="card card-member">-->
  <!--<div class="content product-block">-->
    <!--<div class="product-logo">-->
      <!--<img src="{{product.logo_url}}" alt="" class="">-->
    <!--</div>-->
    <!--<h5>{{product.name}}</h5>-->
    <!--<p>{{product.short_description}}</p>-->
    <!--<a href="" class="btn btn-primary btn-product">view</a>-->
  <!--</div>-->
<!--</div>-->

<div class="panel card">
  <div class="panel-body">
    <div class="product-block">
      <div class="product-logo">
        <img src="{{product.logo_url}}" alt="" class="">
      </div>
      <h5>{{product.name}}</h5>
      <small>{{product.short_description}}</small>
    </div>
  </div>
  <div class="panel-footer product-footer">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline pull-left">
          <li><span style="color: gold;"><i class="fa fa-star"></i></span> Typescript</li>
        </ul>
        <ul class="list-inline pull-right product-link">
          <li><a href=""><i class="fa fa-download"></i></a></li>
          <li><a routerLink="/product-details/{{product.id}}"><i class="fa fa-eye"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>