<div class="panel card" >
  <div class="panel-body">
    <div class="product-block">
      <div class="product-logo">
        <img src="{{product.logo_url}}" alt="" class="">
      </div>
      <h5>{{product.name}}</h5>
      <small>{{product.short_description}}</small>
    </div>
  </div>
  <div class="panel-footer product-footer">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline pull-right product-link">
          <li><a routerLink="/product-details/{{product.id}}"><i class="fa fa-eye"></i></a></li>
            <li><a href="{{product.github_url}}" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>