<section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">About Us</h2>
            <p class="text-center wow fadeInDown">
            </p>
        </div>
        <div class="row">
            <div class="col-sm-5 wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-12 wow fadeInLeft">
                        <h3 class="column-title">Video Intro</h3>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/inQcN8WZKBQ?rel=0" frameborder="0" allowfullscreen autoplay="0" autostart="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="row">
                    <div classs="col-sm-12">
                        <h4 class="column-title">Our Network</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="img/hisp-network.png" alt="" class="img-responsive" width="100%">
                    </div>
                    <div class="col-sm-12 wow fadeInLeft">
                        <p class="text-justify">
                            Western Cape, the University of Cape Town, the University of Oslo Norway, and the Western Cape Department of Health, SA. The programme expanded from a pilot project in three Cape Town
                            health districts to a global South-South-North network, bringing together countries from both Asia and Africa. The countries currently in the HISP network include: Mozambique, Ethiopia,
                            Tanzania (including Zanzibar), Botswana, Namibia, Mali, Malawi, Nigeria, Zambia, India, Uganda, Nigeria, Rwanda, Kenya and Vietnam
                        </p>
                    </div>

                </div>
                <!--<div class="row">-->
                    <!--<div class="col-sm-12">-->
                        <!--<h4 class="column-title">Our Profile</h4>-->
                        <!--<div class="panel">-->
                            <!--<div class="panel-body center-block" style="background-color: #23375A; color:#fff;">-->
                                <!--<div id="carousel-testimonial" class="carousel slide" data-ride="carousel">-->
                                    <!--<div class="carousel-inner" role="listbox">-->
                                        <!--<div class="item active">-->
                                            <!--<button class="btn btn-primary btn-sm profile-btn">Scope of work</button>-->
                                            <!--<h5 class="column-title profile-title">Project Name</h5>-->
                                            <!--<p>District Health Information System (DHIS2),Health Management-->
                                                <!--Information System (HMIS) Implementation-->
                                            <!--</p>-->
                                            <!--<h5 class="column-title profile-title">Period</h5>-->
                                            <!--<p>2007-Todate</p>-->
                                            <!--<h5 class="column-title profile-title">Client</h5>-->
                                            <!--<p>Ministry of Health and Social Welfare-HMIS and ICT sections-->
                                            <!--</p>-->
                                            <!--<h5 class="column-title profile-title">Location</h5>-->
                                            <!--<p>Dar es Salaam,Tanzania-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="item">-->
                                            <!--<h5 class="column-title profile-title">Project Name</h5>-->
                                            <!--<p>District Health Information System (DHIS2),Health Management-->
                                                <!--Information System (HMIS) Implementation-->
                                            <!--</p>-->
                                            <!--<h5 class="column-title profile-title">Period</h5>-->
                                            <!--<p>2007-Todate</p>-->
                                            <!--<h5 class="column-title profile-title">Client</h5>-->
                                            <!--<p>Ministry of Health and Social Welfare-HMIS and ICT sections-->
                                            <!--</p>-->
                                            <!--<h5 class="column-title profile-title">Location</h5>-->
                                            <!--<p>Dar es Salaam,Tanzania-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="btns">-->
                                        <!--<a class="btn btn-primary btn-sm pull-left" href="#carousel-testimonial" role="button" data-slide="prev">-->
                                            <!--<span class="fa fa-angle-left" aria-hidden="true"></span>-->
                                            <!--<span class="sr-only">Previous</span>-->
                                        <!--</a>-->
                                        <!--<a class="btn btn-primary btn-sm pull-right" href="#carousel-testimonial" role="button" data-slide="next">-->
                                            <!--<span class="fa fa-angle-right" aria-hidden="true"></span>-->
                                            <!--<span class="sr-only">Next</span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-sm-7 wow fadeInRight">
                <h4 class="column-title">What is HISP TZ all about?</h4>
                <p class="text-justify">
                    HISP TZ aims at supporting the Government of Tanzania in designing, developing and implementing sustainable health information systems through application of best approaches and use of flexible
                    and open ended technologies for efficient health data collection, processing, and use of information for action  using flexible standard and integrated health management information systems,
                    nurtured strong information culture at all level of the health system and advocating for the use of free and open source software with emphasis in participatory approaches in the health
                    information systems reform process. HISP TZ has also promoted human resources development as a key to sustainable health information system and encouraged local and international partnership
                    as a pipeline for synergies.
                </p>
                <p class="text-justify">
                    HISP TZ has been in existence since 2002, currently located and coordinated within
                    Department of Computer Science and Engineering of the University of Dar-es-salaam (UDSM). At the core of the HISP TZ is the development and implementation of the open source DHIS2
                    software and the use of this application to strengthen the health information system in Tanzania
                </p>
                <h4 class="column-title">Our Mission</h4>
                <p class="text-justify">
                    To strengthen development and implementation of sustainable, integrated Health Information Systems that empower communities, healthcare workers and decision makers to improve the quality,
                    efficiency and coverage of health services in Tanzania.
                </p>
                <h4 class="column-title">Our Vision</h4>
                <p class="text-justify">
                    To adopt information for action and developmental approaches through capacity building and system development that empower communities, healthcare workers and decision makers to improve
                    healthcare service delivery.
                </p>
                <h4 class="column-title">Our Philosophy</h4>
                <p class="text-justify">
                    Collaborative development, implementation and empowering information for action. HISP Tanzania follows participatory action research philosophy,
                    where the focus is to work closely with the health officers and managers to introduce change and support Health Information System (HIS) restructuring, through creating strong and
                    significant linkages with educational and research institutions like universities, to ensure local sustainability through capacity building. In essence, HISP Tanzania can be
                    envisioned to be built around three main pillars; Introducing Change on the Ground in HIS, Continuous Education, and Research.
                </p>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div classs="col-sm-12">-->
                <!--<h4 class="column-title">Our Network</h4>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<img src="img/hisp-network.png" alt="" class="img-responsive" width="100%">-->
            <!--</div>-->
            <!--<div class="col-sm-6 wow fadeInLeft">-->
                <!--<p class="text-justify">-->
                    <!--Western Cape, the University of Cape Town, the University of Oslo Norway, and the Western Cape Department of Health, SA. The programme expanded from a pilot project in three Cape Town-->
                    <!--health districts to a global South-South-North network, bringing together countries from both Asia and Africa. The countries currently in the HISP network include: Mozambique, Ethiopia,-->
                    <!--Tanzania (including Zanzibar), Botswana, Namibia, Mali, Malawi, Nigeria, Zambia, India, Uganda, Nigeria, Rwanda, Kenya and Vietnam-->
                <!--</p>-->
            <!--</div>-->

        <!--</div>-->
    </div>
</section>