<section id="articles">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Articles</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    1. <a href="http://roadsafety.go.tz/blog/predictive-analytics-in-innovating-road-safety/ " target="_blank">Predictive analytics in innovating road safety</a>
                </h3>
                <hr>
            </div>
        </div>
    </div>
</section>