<section id="articles">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h3 class="column-title">Predictive analytics in innovating road safety</h3>
                <span class="vertical-right">1 year, 4 months ago</span>
                <span class="vertical-left">mukulu</span>
                <h3 class="column-title"></h3>
                <p>It is a business intelligence technology used by most fortune 500 companies across the globe through a
                    number of techniques from data mining and patterns modeling to analyze current and future historical
                    facts to make predictions about the future and events that are yet to unfold.<br /><br />Most companies
                    and institutions today, spend a fortune on Information systems to help running day to day operations,
                    management and planning. This has enabled availability of enough backlog of data opening avenues for
                    a lot of untapped potential in gaining future insights on market directions and production trends and
                    lynch pin into sustainable institutional growth.<br /><br />In road safety Predictive analytics gives
                    the ability to utilize data to create holistic view of road offenses, accidents, pinpoint root causes
                    and predict potential major concerns before they become problematic. Complexity of road safety environment
                    requires a solution that the ability to analyze all types of data from all sources within and outside the
                    road safety industry, Ranging from census on population data, to health domain and law enforcement.
                    <br /><br />Deduction of association between increased accidents trends and major health issues pertained
                    to a certain age groups of drivers and articulation of major traffic offenses to increased influx of motor
                    vehicles can be well understood through crunching of enough backlog data from multiple information sources.
                    <br /><br />With iRoad 2.0, we wanted to design and build an incredibly simple applications, but without
                    compromise. Everything we've researched in developing really friendly interfaces and everything we've
                    researched in developing powerful data mining and warehouse tools, culminates in iRoad 2.0 infrastructure.
                    It is the most powerful and scalable software we've ever engineered.
                </p>
                <!--second paragraph-->
                <p>
                    <img alt="GIS Analysis Tool for presentation of data on maps" class="img-responsive" src="img/articles/giseventsmap.png" title="Maps Visualization of of Road safety events information on Google maps"/>
                </p>
                <!--second paragraph-->
                <p>
                    <strong>Fig 1</strong>: Powerful Maps visualization of Road safety events concentration in relation to population
                </p>
                <!--third paragraph-->
                <p>
                    <br />A number of extremely easy to use data capture tools and data mining and analytics tools such as pivot tables,
                    data visualizer and gis have been developed to deduce trends for over 10 years worth of data distributed over number
                    of data dimensions in road safety industry and across multiple domains such as health, census and surveys.&nbsp;
                </p>
                <!--fourth paragraph-->
                <p>
                    <img alt="Roadsafety Dashboard With Data analysis tools" class="img-responsive" src="img/articles/dashboardofiroad2.png" title="Road safety Data warehouse dashboard with variety of data representation tools." />
                </p>
                <!--fifth paragraph-->
                <p>
                    <strong>Fig 2</strong>: Road safety data warehouse dashboard with variety of analytics information presented through charts, tabular and maps analytics tools.
                </p>
                <!--sixth paragraph-->
                <p>DISCLAIMER:</p>
                <p>All Data presented are Randomized Data for proof of concept, None of the above data should be reflect any real world road safety situation.</p>
                <p>References<br/><a href="http://www.softwaremag.com/applying-predictive-analytics-for-application-health/">http://www.softwaremag.com/applying-predictive-analytics-for-application-health/</a>
                    <br><a href="https://en.wikipedia.org/wiki/Predictive_analytics">https://en.wikipedia.org/wiki/Predictive_analytics</a></p>
            </div>
            <div class="col-sm-3" style="border-left: solid  1px #eee;">
                <h5 class="column-title">Recent posts</h5>
                <h6><a href="#articles">Predictive analytics in innovating road safety</a></h6>
                <br>
                <h5 class="column-title">Authors</h5>
                <h6>Mukulu</h6>
            </div>
        </div>
    </div>
</section>