<div ng-controller="HomeSliderController">
    <div>
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.index" index="slide.index" class="slider">
                    <img ng-src="{{slide.image}}" class="img-responsive" width="100%">

                <div class="carousel-caption hidden-xs">
                    <span>{{slide.text}}</span>
                </div>
            </div>
        </div>
    </div>

</div>
<section id="products">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Hot Products</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12" ng-repeat="product in products | limitTo: 3">
                <div class="product-block">
                    <div class="product-logo">
                        <img src="{{product.logo}}" alt="" class="">

                        <a href="#products/{{product.name}}" class="eye"><i class="fa fa-eye"></i></a>
                    </div>

                    <h5>{{product.name}}</h5>
                    <p>{{product.short_description}}</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="#products" class="btn btn-primary btn-sm btn-block">Visit list of more products</a>
            </div>
        </div>
    </div>
</section>
<section id="activities">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Activities</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Software development</h4>
                            <p>
                                UDSM/UiO-MOHSW team is responsible for development and customization of the district based National
                                Data Warehouse on the DHIS2 platform</p>
                            <a href="#software-development" class="btn btn-primary btn-sm">View our skills</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Capacity Building</h4>
                            <p>
                                Different training modules have been designed to suit different cadres in the existing health sector management at all levels.
                            </p>
                            <a href="#training" class="btn btn-primary btn-sm">View our training</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-leanpub" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Research</h4>
                            <p>Despite the physical output realised in the course of projects execution
                                there have also been academic outputs.</p>
                            <a href="#publication" class="btn btn-primary btn-sm">view our papers</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="divider"></div>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="column-title">Our Development Skills</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check-square"></i> Database and software design for 'rapid rollout' based on existing, but harmonized,
                        data collection tools.</li>
                    <li><i class="fa fa-check-square"></i> Updating software and data warehouse designs based on revised tools.</li>
                    <li><i class="fa fa-check-square"></i> Integrating DHIS2 with other related applications (e.g. LGMD).</li>
                    <li><i class="fa fa-check-square"></i> Customizing easy to access and use web portals and HTML reports to encourage information use.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="column-title">Our Adverts</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/inQcN8WZKBQ?rel=0" frameborder="0" allowfullscreen autoplay="0" autostart="0"></iframe>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="column-title">FAQs</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" ng-repeat="faq in faqs">
                        <div class="panel-heading" role="tab" id="heading{{faq.index}}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{faq.index}}" aria-expanded="true" aria-controls="collapseOne">
                                    {{faq.qn}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{faq.index}}" class="panel-collapse collapse{{init == faq.index ? ' in' : ''}}" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                {{faq.ans}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

