<section id="projects">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Projects</h2>
            <!--<p class="text-center wow fadeInDown">Despite the physical output realised in the course of projects execution there have also been academic outputs.-->
                <!--<br>The following is a select list of publications.</p>-->
        </div>

        <div class="row" ng-repeat="project in projects">
            <div class="col-sm-5">
                <img src="{{project.img_url}}" alt="" class="img-responsive">
            </div>
            <div class="col-sm-7">
                <h4 class="column-title">{{project.name}}</h4>
                <p class="text-justify">{{project.description}}</p>
                <a href="{{project.site_url}}" class="btn btn-primary" ng-if="project.site_url" target="_blank">LIVE DEMO</a>
                <!--<a href="{{project.doc_url}}" class="btn btn-warning">DOCUMENTATION</a>-->
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>

    </div>
</section>