<section id="publication">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Publications</h2>
            <p class="text-center wow fadeInDown">Despite the physical output realised in the course of projects execution there have also been academic outputs.
                <br>The following is a select list of publications.</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Journals">
                        <div class="row">
                            <div class="col-sm-12" ng-repeat="journal in journals">
                               <span>{{journal.name}}</span>
                                <hr>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Conferences">
                        <div class="row">
                            <div class="col-sm-12" ng-repeat="conference in conferences">
                                <span>{{conference.name}}</span>
                                <hr>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Msc. Dissertation">
                        <div class="row">
                            <div class="col-sm-12" ng-repeat="dissertation in dissertations">
                                <span>{{dissertation.name}}</span>
                                <hr>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

    </div>
</section>