<section id="publication">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Publications</h2>
            <p class="text-center wow fadeInDown">Despite the physical output realised in the course of projects execution there have also been academic outputs.
                <br>The following is a select list of publications.</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Journals">
                        <div class="row" ng-repeat="journal in journals">
                            <div class="col-sm-1 col-xs-1 text-center">
                                <i class="fa fa-leanpub fa-3x" aria-hidden="true"></i>
                                <!--<span class="badge">2012</span>-->
                            </div>
                            <div class="col-sm-11 col-xs-11">
                               <span>{{journal.name}}</span>
                                <hr>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Conferences">
                        <div class="row" ng-repeat="conference in conferences">
                            <div class="col-sm-1 col-xs-1 text-center">
                                <i class="fa fa-leanpub fa-3x" aria-hidden="true"></i>
                                <!--<span class="badge">2012</span>-->
                            </div>
                            <div class="col-sm-11 col-xs-11">
                                <span>{{conference.name}}</span>
                                <hr>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Msc. Dissertation">
                        <div class="row" ng-repeat="dissertation in dissertations">
                            <div class="col-sm-1 col-xs-1 text-center">
                                <i class="fa fa-leanpub fa-3x" aria-hidden="true"></i>
                                <!--<span class="badge">2012</span>-->
                            </div>
                            <div class="col-sm-11 col-xs-11" >
                                <span>{{dissertation.name}}</span>
                                <hr>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

    </div>
</section>