<section id="development">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Software development</h2>
            <p class="text-center wow fadeInDown">Software development and integration is a continuous activity that is
                handled by the UDSM/UiO-MOHSW team. The UDSM/UiO-MOHSW team is responsible for <br>development and customization
                of the district based National Data Warehouse on the DHIS2 platform. The team is involved with</p>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <i class="fa fa-check-square"></i> Designing databases and software for 'rapid rollout' based on existing, but harmonized,
                data collection tools.
            </div>
            <div class="col-sm-3">
                <i class="fa fa-check-square"></i> Updating software and data warehouse designs based on revised tools.
            </div>
            <div class="col-sm-3">
                <i class="fa fa-check-square"></i> Integrating DHIS2 with other related applications (e.g. LGMD).
            </div>
            <div class="col-sm-3">
                <i class="fa fa-check-square"></i> Customizing easy to access and use web portals and HTML reports to encourage information use.
            </div>


        </div>
    </div>
</section>