<section id="development">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Software development</h2>
            <p class="text-center wow fadeInDown">Software development and integration is a continuous activity that is
                handled by the UDSM/UiO-MOHSW team. The UDSM/UiO-MOHSW team is responsible for <br>development and customization
                of the district based National Data Warehouse on the DHIS2 platform. The team is involved with</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="media skill-box">
                    <div class="text-center">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="media-body skill-body text-center">
                        <h4 class="media-heading">Design</h4>
                        <p>
                            Database design for 'rapid rollout' based on existing, but harmonized,
                            data collection tools.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="media skill-box">
                    <div class="text-center">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="media-body skill-body text-center">
                        <h4 class="media-heading">Maintenance</h4>
                        <p>
                            Software maintenance and data warehouse design based on revised tools.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="media skill-box">
                    <div class="text-center">
                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                    </div>
                    <div class="media-body skill-body text-center">
                        <h4 class="media-heading">Integration</h4>
                        <p>DHIS2 integration with other related applications (e.g. LGMD).</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                <div class="media skill-box">
                    <div class="text-center">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </div>
                    <div class="media-body skill-body text-center">
                        <h4 class="media-heading">Customization</h4>
                        <p>Web portals and HTML reports customization for easy to access and encouraging information use</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>