<section id="development">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Software development</h2>
            <p class="text-center wow fadeInDown">Software development and integration is a continuous activity that is
                handled by the UDSM/UiO-MOHSW team. The UDSM/UiO-MOHSW team is responsible for <br>development and customization
                of the district based National Data Warehouse on the DHIS2 platform. The team is involved with</p>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <i class="fa fa-database fa-2x" aria-hidden="true"></i>
                    <p>Database design for 'rapid rollout' based on existing, but harmonized,
                        data collection tools.
                    </p>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <i class="fa fa-cogs fa-2x"></i>
                    <p>Software maintenance and data warehouse design based on revised tools.</p>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <i class="fa fa-connectdevelop fa-2x" aria-hidden="true"></i>
                    <p>DHIS2 integration with other related applications (e.g. LGMD).</p>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <i class="fa fa-wrench fa-2x" aria-hidden="true"></i>
                    <p>Web portals and HTML reports customization for easy to access and encouraging information use</p>
                </div>
            </div>


        </div>
    </div>
</section>