<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="info">
          <h5 class="title">Organisation</h5>
          <nav>
            <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/faqs">FAQs</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Latest News</h4>
        <p>HISP Tanzania is embarking on fast lane innovations development...</p>

      </div>
      <div class="col-md-3 col-sm-6"></div>
      <div class="col-md-2 col-md-offset-1 col-sm-3">
        <div class="info">
          <h5 class="title">Follow us on</h5>
          <ul class="list-inline">
            <li><a href="https://github.com/hisptz/" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCZOMa2FhYyeeT1-eU2TpApA" target="_blank"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="copyright">
      © <script> document.write(new Date().getFullYear()) </script>
      <a routerLiink=""><img src="assets/img/logo.png" alt="" height="30"></a>
    </div>
  </div>
</footer>
