<app-navbar></app-navbar>
<section id="about">
  <div class="container">
    <div class="row">
      <h3 class="text-center">About Us</h3>
      <div class="separator separator-danger">✻</div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h4>What is HISP TZ all about?</h4>
        <p class="text-justify">
          HISP Tanzania (HISPTZ) is an organization established to empower governments,
          organizations and communities to improve the quality and efficiency of services
          through appropriate use of ICT for inclusive, technological and social-economic
          development in Africa. Founding members of HISPTZ have over 15 years’ experiences
          in large scale implementations of electronic web and mobile information systems
          in Tanzania’s sectors of health, water, agriculture and other international organizations.
          Members of HISPTZ team have also been engaged in numerous implementations of DHIS2
          and other  technologies outside Tanzania, for example with Health Ministries of Kenya,
          Uganda, Malawi, Zimbabwe, Zambia, Democratic Republic of Congo giving it a strategic position
          to offer diversified solutions which meets national and international standards.
        </p>
        <p class="text-justify">
          HISPTZ is part of the a global HISP network led by the University of Oslo,
          Norway which aims at strengthening HIS in Developing countries through
          the use of a participatory approach. HISPTZ focuses on design and implementation
          sustainable and integrated information architectures and system solutions that are
          based on free and open source software philosophy and open standards
        </p>
        <p class="text-justify">
          HISPTZ promotes use of information for evidence based planning and services improvement HISPTZ
          supports local innovation, empowerment, and entrepreneurship skills developments
        </p>
        <h4>Our Mission</h4>
        <p class="text-justify">
          To strengthen development and implementation of sustainable, integrated Health Information Systems that empower communities, healthcare workers and decision makers to improve the quality,
          efficiency and coverage of health services in Tanzania.
        </p>
        <h4>Our Vision</h4>
        <p class="text-justify">
          To adopt information for action and developmental approaches through capacity building and system development that empower communities, healthcare workers and decision makers to improve
          healthcare service delivery.
        </p>
        <h4>Our Philosophy</h4>
        <p class="text-justify">
          Collaborative development, implementation and empowering information for action. HISP Tanzania follows participatory action research philosophy,
          where the focus is to work closely with the health officers and managers to introduce change and support Health Information System (HIS) restructuring, through creating strong and
          significant linkages with educational and research institutions like universities, to ensure local sustainability through capacity building. In essence, HISP Tanzania can be
          envisioned to be built around three main pillars; Introducing Change on the Ground in HIS, Continuous Education, and Research.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <div class="contact-form">
              <h4>Addresses</h4>
              <address>
                Physical Address: Bagamoyo Road, Kijitonyama<br>
                Dar es salaam <br>
                Postal Address:  HISP Tanzania <br>
                P O Box 31775, <br>
                Dar es salaam,Tanzania. <br>
                Email:  <em>info@hisptanzania.org</em><br>
              </address>
              <!--<a routerLink="/feedback-form" class="btn btn-primary">Leave a feedback</a>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3961.976107665066!2d39.2434896!3d-6.7727621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4c264814bb67%3A0x48c740f8dbb4a1ea!2sCollege+of+Information+and+Communication+Technologies%2C+Dar+es+Salaam%2C+Tanzania!5e0!3m2!1sen!2s!4v1471558709261" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
