<navbar></navbar>
<section id="about">
  <div class="container">
    <div class="row">
      <h3 class="text-center">About Us</h3>
      <div class="separator separator-danger">✻</div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <h4>What is HISP TZ all about?</h4>
        <p class="text-justify">
          HISP TZ aims at supporting the Government of Tanzania in designing, developing and implementing sustainable health information systems through application of best approaches and use of flexible
          and open ended technologies for efficient health data collection, processing, and use of information for action  using flexible standard and integrated health management information systems,
          nurtured strong information culture at all level of the health system and advocating for the use of free and open source software with emphasis in participatory approaches in the health
          information systems reform process. HISP TZ has also promoted human resources development as a key to sustainable health information system and encouraged local and international partnership
          as a pipeline for synergies.
        </p>
        <p class="text-justify">
          HISP TZ has been in existence since 2002, currently located and coordinated within
          Department of Computer Science and Engineering of the University of Dar-es-salaam (UDSM). At the core of the HISP TZ is the development and implementation of the open source DHIS2
          software and the use of this application to strengthen the health information system in Tanzania
        </p>
        <h4>Our Mission</h4>
        <p class="text-justify">
          To strengthen development and implementation of sustainable, integrated Health Information Systems that empower communities, healthcare workers and decision makers to improve the quality,
          efficiency and coverage of health services in Tanzania.
        </p>
        <h4>Our Vision</h4>
        <p class="text-justify">
          To adopt information for action and developmental approaches through capacity building and system development that empower communities, healthcare workers and decision makers to improve
          healthcare service delivery.
        </p>
        <h4>Our Philosophy</h4>
        <p class="text-justify">
          Collaborative development, implementation and empowering information for action. HISP Tanzania follows participatory action research philosophy,
          where the focus is to work closely with the health officers and managers to introduce change and support Health Information System (HIS) restructuring, through creating strong and
          significant linkages with educational and research institutions like universities, to ensure local sustainability through capacity building. In essence, HISP Tanzania can be
          envisioned to be built around three main pillars; Introducing Change on the Ground in HIS, Continuous Education, and Research.
        </p>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-form">
              <h4>We are located at</h4>
              <address>
                <strong>University of Dar es salaam , Kijitonyama Campus</strong><br>
                Department of Computer Science and Engineering, Bock B Room 108<br>
              </address>
              <h4>Contact the Coordinator</h4>
              <address>
                HISP TANZANIA, <br>
                P.O BOX 35062 Dar es Salaam, <br>
                TANZANIA - EAST AFRICA. <br>
                <hr>
                Phone: +255-22-2410500/9 <br>
                Mobile: +255 784 147946 <br>
                Email: coordinator@hisptanzania.or.tz
              </address>
              <!--<a routerLink="/feedback-form" class="btn btn-primary">Leave a feedback</a>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3961.976107665066!2d39.2434896!3d-6.7727621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4c264814bb67%3A0x48c740f8dbb4a1ea!2sCollege+of+Information+and+Communication+Technologies%2C+Dar+es+Salaam%2C+Tanzania!5e0!3m2!1sen!2s!4v1471558709261" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
