<div class="container">
  <app-nav-bar></app-nav-bar>
  <section id="services">
    <div class="container">
      <div class="row">
        <h3 class="text-center">Our services</h3>
        <div class="separator separator-danger">✻</div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12" *ngFor="let service of services">
          <div class="panel panel-default service-panel card">
            <div class="panel-body">
              <a routerLink="/service-details/{{service.id}}"><h5 class="hidden-sm">{{service.name}}</h5></a>
              <small>{{service.description}}</small>
            </div>
            <div class="panel-heading service-panel-heading">
              <a routerLink="/service-details/{{service.id}}"><img src="{{service.img_url}}" alt="" class="image-responsive" width="100%"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
