<section id="partners">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Our Partners</h3>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-1 col-xs-3 col-sm-2" *ngFor="let partner of partners">
        <a href="{{partner.url}}" style="padding: 5px; height: 50px;" target="_blank"><img [src]="partner.logo" alt="" class="img-responsive"></a>
      </div>
    </div>
  </div>
</section>
