
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="...." height="45"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!--<ul class="nav navbar-nav">-->
        <!--&lt;!&ndash;<li><a href="#">Page 1</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#">Page 2</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#">Page 3</a></li>&ndash;&gt;-->
      <!--</ul>-->
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">HOME</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS</a>
          <ul class="dropdown-menu dropdown-danger" style="text-transform: uppercase">
            <li><a routerLink="/products">Products</a></li>
            <li><a href="https://appstore.hisptanzania.org/" target="_blank">Appstore</a></li>
          </ul>
        </li>
        <li class="dropdown" style="text-transform: uppercase">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities</a>
          <ul class="dropdown-menu dropdown-danger">
            <li><a routerLink="/papers"><i class="fa fa-book"></i> Research</a></li>
            <li><a routerLink="/projects"><i class="fa fa-line-chart"></i> Projects</a></li>
            <li><a routerLink="/capacity-building"><i class="fa fa-cubes"></i> Capacity Building</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a routerLink="/team">TEAM</a></li>
        <li routerLinkActive="active"><a routerLink="/about-us">ABOUT US</a></li>
      </ul>
    </div>
  </div>
</nav>
