#team-member {

}
#member-head {
    padding-top: 90px;
    background-color: #2C9CB3;
    /*margin-bottom: 20px;*/
}

#member-details {
    background-color: #F5F5F5;
    padding-top: 20px;
}

.team-member-panel {
    position: relative;
    padding: 30px;
}

.member-badge {
    background-color: #2C9CB3;
    color: #fff;
    border-radius: 3px;
}
