<app-navbar></app-navbar>
<section id="member-head" *ngIf="!loading && !hasError">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel card">
          <div class="panel-body team-member-panel">
            <div class="row">
              <div class="col-md-3 col-sm-3 text-center">
                <img src="{{member.img_url}}" alt="" class="img-circle img-responsive">
                <ul class="list-unstyled" style="margin-top: 10px;">
                  <li><b>{{member.name}}</b></li>
                  <li><small><b>({{member.title}})</b></small></li>
                </ul>
              </div>
              <div class="col-md-9 col-sm-9">
                <h4><b>Short Bio</b></h4>
                <p class="text-justify" >{{member.bio}}</p>
                <!--<ul class="list-inline">-->
                <!--<li><small><a href="">5 articles</a></small></li>-->
                <!--<li><small><a href="">5 papers</a></small></li>-->
                <!--</ul>-->
              </div>
            </div>
            <ul class="list-inline" style="position: absolute; bottom: 1%; right:1%;">
              <li><a href="{{member.linkedin_url}}" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-linkedin"></i></a></li>
              <li><a routerLink="/team" class="btn btn-warning btn-sm">view all</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section  id="member-details">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngIf="!loading && !hasError">
        <div class="list-group">
          <a class="list-group-item"><b><i class="fa fa-list"></i> Overview</b></a>
          <a routerLink="/team-member/{{member.id}}" class="list-group-item"><i class="fa fa-graduation-cap"></i> Education</a>
          <a routerLink="experience" class="list-group-item"><i class="fa fa-building"></i> Experience</a>
          <a routerLink="consultancy" class="list-group-item"><i class="fa fa-users"></i> Consultancy</a>
        </div>
        <!--articles list-->
        <!--<ul class="list-group">-->
        <!--<li class="list-group-item"><b>Recent articles</b></li>-->
        <!--<li class="list-group-item"><a href="">This is article about the power of interface in angular 2</a></li>-->
        <!--<li class="list-group-item"><a href="">This is article about the power of interface in angular 2</a></li>-->
        <!--</ul>-->
      </div>
      <div [ngClass]="member && member.skills ? 'col-md-6' : 'col-md-9'">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-3" *ngIf="!loading && !hasError">
        <!--skills-->
        <ul class="list-group" *ngIf="member.skills">
          <li class="list-group-item"><b>Skills</b></li>
          <li class="list-group-item" *ngFor="let skill of member.skills">{{skill.skill}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
