<!--<div class="section section-header landing-carousel owl-carousel">-->
  <!--<div class="" style="background-image: url('assets/img/innovation.jpg'); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">-->
    <!--<div class="container">-->
      <!--<div class="content">-->
        <!--<div class="title-area">-->
          <!--<h2 class="title-modern">Active Innovation</h2>-->
          <!--<h3>Check out for our cool, interactive and flexible products for your dhis instance</h3>-->
          <!--<div class="separator line-separator">♦</div>-->
        <!--</div>-->
        <!--<a routerLink="/products" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our products-->
        <!--</a>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div style="background-image: url('assets/img/training.jpg'); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">-->
    <!--<div class="container" >-->
      <!--<div class="content">-->
        <!--<div class="title-area">-->
          <!--<h2 class="title-modern">Capacity building</h2>-->
          <!--<h3>Need to add what you know? Check on what we have and how we do it</h3>-->
          <!--<div class="separator line-separator">♦</div>-->
        <!--</div>-->
        <!--<a routerLink="/capacity-building" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our training-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div style="background-image: url('assets/img/research.jpg'); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">-->
    <!--<div class="container">-->
      <!--<div class="content">-->
        <!--<div class="title-area">-->
          <!--<h2 class="title-modern">Active Research</h2>-->
          <!--<h3>We don't just stop with development, we also explore more</h3>-->
          <!--<div class="separator line-separator">♦</div>-->
        <!--</div>-->
        <!--<a routerLink="/papers" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our papers-->
        <!--</a>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<ul id='carousel-custom-dots' class='owl-dots list-inline text-center'>-->
  <!--<li class='owl-dot'><span></span></li>-->
  <!--<li class='owl-dot'><span></span></li>-->
  <!--<li class='owl-dot'><span></span></li>-->
<!--</ul>-->

<div class="row">
  <div class="section section-header landing-carousel owl-carousel" style="border-radius: 4px;">
    <div>
      <div class="row">
        <div class="col-md-6"  style="height: 25%; padding-left: 50px; background-color: #FFFFFF;">
          <h2 style="margin-top: 3%; color: #0080BD; text-align: left;">Innovation in <br> every dimensions</h2>
          <p><b style="font-weight: 500; text-transform: uppercase">W</b>ith innovation, We empower Governments, Organizations and
            Communities to improve the quality and
            efficiency of services through appropriate
            use of ICT for inclusive, technological and
            social-economic development in Africa. </p>

          <p><b style="font-weight: 500; text-transform: uppercase">M</b>eet
            projects powered by our innovation <a style="color: #008CDB;" routerLink="/projects">here</a>.</p>


          <div>
            <!--<a  style="color: #008CDB;" routerLink="/products"><i class="fa fa-eye"></i></a>-->
          </div>
        </div>
        <div class="col-md-6"  style="height: 25%; background-color: #FFFFFF;">
          <div style="background-image: url('assets/img/iphone_idashboard.png'); background-size: 280px 280px; background-position: center;  height: 300px; width: 112%; border-radius: 10px; background-repeat: no-repeat;" class="pull-right"></div>
        </div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-md-5"  style="padding-left: 50px; height: 25%; background-color: #FFFFFF;">
          <h2 style="margin-top: 3%; color: #0080BD; text-align: left;">Interactive<br> Score Card</h2>
          <p><b style="font-weight: 500; text-transform: uppercase">F</b>lexible and configurable DHIS 2 Score card
            application with limited interactive capabilities. </p>

          <p><a class="btn btn-primary" style="" routerLink="/product-details/score_card"> Get details</a> <a class="btn btn-primary" style="color: #000000; background-color: #62F380; border-color: #62F380" routerLink="/products/"> See all</a></p>
          <div>
            <!--<a  style="color: #008CDB;" routerLink="/products"><i class="fa fa-eye"></i></a>-->
          </div>
        </div>
        <div class="col-md-7"  style="height: 25%; background-color: #FFFFFF;">
          <div style="background-image: url('assets/img/products/score-card-widget-cover.png'); background-size: 600px 280px; background-position: center;  height: 300px; width: 112%; border-radius: 10px; background-repeat: no-repeat;" class="pull-right"></div>
        </div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-md-5"  style="padding-left: 50px; height: 25%; background-color: #FFFFFF;">
          <h2 style="margin-top: 3%; color: #0080BD; text-align: left;">Interactive<br> Dashboard</h2>
          <p><b style="font-weight: 500; text-transform: uppercase">F</b>lexible
            and Fully fledged DHIS 2 Dashboard application with interactive
            and intuitive capabilities.</p>


          <p><a class="btn btn-primary" style="" routerLink="/product-details/idashboard"> Get details</a> <a class="btn btn-primary" style="color: #000000; background-color: #62F380; border-color: #62F380" routerLink="/products/"> See all</a></p>
          <div>
            <!--<a  style="color: #008CDB;" routerLink="/products"><i class="fa fa-eye"></i></a>-->
          </div>
        </div>
        <div class="col-md-7"  style="height: 25%; background-color: #FFFFFF;">
          <div style="background-image: url('assets/img/products/idashboard-cover.png'); background-size: 600px 280px; background-position: center;  height: 300px; width: 112%; border-radius: 10px; background-repeat: no-repeat;" class="pull-right"></div>
        </div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-md-5"  style="padding-left: 50px; height: 25%; background-color: #FFFFFF;">
          <h2 style="margin-top: 3%; color: #0080BD; text-align: left;">HISPTZ <br> Touch</h2>
          <p><b style="font-weight: 500; text-transform: uppercase">HTML5</b>, Javascripts & CSS powered
            light-weight offline solution for android, apple and windows phone, that aims to
            ship full dhis2 web experience completely offline on your smartphone..</p>


          <p><a class="btn btn-primary" style="" routerLink="/product-details/hisptz_touch"> Get details</a> <a class="btn btn-primary" style="color: #000000; background-color: #62F380; border-color: #62F380" routerLink="/products/"> See all</a></p>
          <div>
            <!--<a  style="color: #008CDB;" routerLink="/products"><i class="fa fa-eye"></i></a>-->
          </div>
        </div>
        <div class="col-md-7"  style="height: 25%; background-color: #FFFFFF;">
          <div style="background-image: url('assets/img/products/dhis2touch-cover.png'); background-size: 600px 280px; background-position: center;  height: 300px; width: 112%; border-radius: 10px; background-repeat: no-repeat;" class="pull-right"></div>
        </div>
      </div>
    </div>

  </div>

  <ul id='carousel-custom-dots' class='owl-dots list-inline text-center'>
    <li class='owl-dot'><span></span></li>
    <li class='owl-dot'><span></span></li>
    <li class='owl-dot'><span></span></li>
    <li class='owl-dot'><span></span></li>
  </ul>
</div>

