<div class="section section-header landing-carousel owl-carousel">
  <div class="parallax filter filter-color-yellow">
    <div class="image"
         style="background-image: url('assets/img/header-1.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h1 class="title-modern">Active Innovation</h1>
          <h2>Check out for our cool, interactive and flexible products for your dhis instance</h2>
            <div class="separator line-separator">♦</div>
        </div>

        <div class="button-get-started">
          <a href="" class="btn btn-primary btn-fill btn-lg landing-btn">
            View our products
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax filter filter-color-blue">
    <div class="image"
         style="background-image: url('assets/img/header-1.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h1 class="title-modern">Capacity building</h1>
          <h2>Need to add what you know? Check on what we have and how we do it</h2>
          <div class="separator line-separator">♦</div>
        </div>

        <div class="button-get-started">
          <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" class="btn btn-primary btn-fill btn-lg landing-btn">
            View our training
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax filter filter-color-green">
    <div class="image"
         style="background-image: url('assets/img/header-1.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h1 class="title-modern">Active Research</h1>
          <h2>We don't just stop with development, we also explore more</h2>
          <div class="separator line-separator">♦</div>
        </div>

        <div class="button-get-started">
          <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" class="btn btn-primary btn-fill btn-lg landing-btn">
            View our papers
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
