<section id="member">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{member.name}}</h2>
        </div>
    </div>
</section>
<section id="member-head">
    <div class="container">
        <div class="row bg-gray">
            <div class="col-sm-offset-5 col-sm-2 col-xs-offset-2 col-xs-8">
                <img src="{{member.img_url}}" alt="" class="img-responsive">
                <h5 class="text-center">{{member.position}}</h5>
            </div>
        </div>
    </div>
</section>
<section id="member-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="border-right: solid  1px #eee;">
                <ul class="list-inline member-contact">
                    <!--<li><small><i class="fa fa-envelope"></i> {{member.email}}</small></li>-->
                    <!--<li><small><i class="fa fa-phone"></i> {{member.phone}}</small></li>-->
                    <li><small><a href="{{member.linked_link}}" target="_blank"><i class="fa fa-linkedin"></i></a></small></li>
                    <li class="pull-right"><a href="#team" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"> back</i></a></li>
                </ul>
                <h5 class="column-title"></h5>
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Bio">
                        <uib-tab-heading>
                            <i class="fa fa-user"></i> Bio
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-justify">{{member.bio}}</p>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Experience">
                        <uib-tab-heading>
                            <i class="fa fa-building"></i> Experience
                        </uib-tab-heading>
                        <div class="row" ng-repeat="experience in member.experience | orderBy: '-starttime'">
                            <div class="col-md-4 hidden-xs">
                                <span class="timeline">{{experience.starttime}} - {{experience.endtime}}</span><br>
                                <!--<span class="timeline-sum">(1 year and 11 month)</span>-->
                            </div>
                            <div class="col-md-8 col-xs-12 right-content">
                                <span class="institution">{{experience.position}}</span><br>
                                <span class="award">{{experience.organisation}}</span>
                                <div class="visible-xs">
                                    <span class="timeline">{{experience.starttime}} - {{experience.endtime}}</span>
                                    <!--<span class="timeline">(1 year and 11 month)</span>-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h5 class="column-title"></h5>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Education">
                        <uib-tab-heading>
                            <i class="fa fa-graduation-cap"></i> Education
                        </uib-tab-heading>
                        <div class="row" ng-repeat="education in member.education | orderBy: '-starttime'">
                            <div class="col-md-4 hidden-xs">
                                <span class="timeline">{{education.starttime}} - {{education.endtime}}</span><br>
                                <!--<span class="timeline-sum">(1 year and 11 month)</span>-->
                            </div>
                            <div class="col-md-8 col-xs-12 right-content">
                                <span class="institution">{{education.institution}}</span><br>
                                <span class="award">{{education.award}}</span>
                                <div class="visible-xs">
                                    <span class="timeline">{{education.starttime}} - {{education.endtime}}</span>
                                    <!--<span class="timeline">(1 year and 11 month)</span>-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h5 class="column-title"></h5>
                            </div>

                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Consultancy" ng-if="member.consultancy">
                        <uib-tab-heading>
                            <i class="fa fa-users"></i> Consultancy
                        </uib-tab-heading>
                        <div class="row" ng-repeat="consultancy in member.consultancy | orderBy: '-starttime'">
                            <div class="col-md-4 hidden-xs">
                                <span class="timeline">{{consultancy.starttime}} - {{consultancy.endtime}}</span><br>
                                <!--<span class="timeline-sum">(1 year and 11 month)</span>-->
                            </div>
                            <div class="col-md-8 col-xs-12 right-content">
                                <span class="institution">{{consultancy.project}}</span><br>
                                <span class="award">{{consultancy.position}}</span>
                                <div class="visible-xs">
                                    <span class="timeline">{{consultancy.starttime}} - {{consultancy.endtime}}</span>
                                    <!--<span class="timeline">(1 year and 11 month)</span>-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h5 class="column-title"></h5>
                            </div>

                        </div>
                    </uib-tab>
                    <!--<uib-tab index="4" heading="Skills" ng-if="member.skills">-->
                        <!--<uib-tab-heading>-->
                            <!--<i class="fa fa-wrench" aria-hidden="true"></i> Skills-->
                        <!--</uib-tab-heading>-->
                        <!--<div class="row" >-->
                            <!--<div class="col-sm-12">-->
                                <!--<ul class="list-unstyled">-->
                                    <!--<li ng-repeat="skill in member.skills">-->
                                        <!--<i class="fa fa-check-square"></i> {{skill.skill}}-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</uib-tab>-->
                </uib-tabset>
            </div>
            <div class="col-sm-4">
                <h5 class="column-title">Recent posts</h5>
                <!--<ul class="list-unstyled">-->
                    <!--<li><h6><a href="#articles"><i class="fa fa-check-square"></i> Predictive analytics in innovating road safety</a></h6></li>-->
                <!--</ul>-->
                <!--<a href="">more...</a>-->

            </div>
        </div>
    </div>
</section>