<div class="container">
  <app-nav-bar></app-nav-bar>
  <app-landing></app-landing>
  <app-services></app-services>
  <app-trending-projects></app-trending-projects>
  <div class="row" style="margin-bottom: 15px; margin-top: 15px">
    <div class="col-md-12">
      <div class="col-md-4">
        <app-featured-news></app-featured-news>
      </div>
      <div class="col-md-8">
        <app-photos-summary></app-photos-summary>
      </div>
    </div>
  </div>
  <app-partners></app-partners>
</div>
