<div class="container">
  <app-nav-bar></app-nav-bar>
  <section id="projects">
    <div class="container">
      <div class="row">
        <h3 class="text-center">Our Projects</h3>
        <div class="separator separator-danger">✻</div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12" *ngFor="let project of projects">
          <div class="panel panel-default project-panel card">
            <div class="panel-body">
              <a  routerLink="/project-details/{{project.id}}"><h5 class="hidden-sm">{{project.name}}</h5></a>
              <small>{{project.description}}</small>
            </div>
            <div class="panel-heading project-panel-heading" *ngIf="project.img_url">
              <a routerLink="/project-details/{{project.id}}" class="project-title"><h5>{{project.name}}</h5>
                <img src="{{project.img_url}}" alt="" width="100%" class="img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
