<section id="products">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{product.name}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-7 text-center">
                <img src="{{product.cover}}" alt="" class="img-responsive">
            </div>
            <div class="col-sm-5">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Description">
                        <uib-tab-heading>
                            <h5>Description</h5>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>{{product.description}}</p>
                                <h5 class="column-title" ng-if="product.functions != ''">Features</h5>
                                <ul class="list-unstyled">
                                    <li ng-repeat="function in product.functions"><i class="fa fa-check-square"></i> {{function.item}}</li>
                                </ul>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Video Preview">
                        <uib-tab-heading>
                            <h5>Video Preview</h5>
                        </uib-tab-heading>
                        <div class="row">
                           <div class="col-sm-12">
                               <div class="embed-responsive embed-responsive-16by9">
                                   <iframe src="http://player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                               </div>
                           </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

                <!--<a href="" class="btn btn-info btn-lg btn-block">LIVE DEMO</a>-->
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-sm-12">
                <h4 class="column-title">More Products</h4>
            </div>

            <div class="col-sm-4 col-xs-4" ng-repeat="related_product in products | limitTo : 3" ng-if="related_product.name != product.name ">
                <div class="product-block">
                    <div class="product-logo">
                        <img src="{{related_product.logo}}" alt="" class="">

                        <a href="#products/{{related_product.name}}" class="eye"><i class="fa fa-eye"></i></a>
                    </div>

                    <h5>{{related_product.name}}</h5>
                    <p>{{related_product.short_description}}</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="#products" class="btn btn-primary btn-sm btn-block">more..</a>
            </div>
        </div>
    </div>
</section>