<section id="products">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Products</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-4" ng-repeat="product in products">
                <div class="text-center product-block">
                    <a href="#products/{{product.name}}"><img src="{{product.logo}}" alt="" class="product-img"></a>
                    <h5>{{product.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>