<navbar-home></navbar-home>
<landing></landing>
<activities></activities>
<featured-product></featured-product>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel"  style="background-color: #00abc0; color: #fff; margin-top: 40px;">
                <div class="panel-body  text-center">
                    <h3>We make life easier for you. Want to know how?</h3>
                    <a href="http://appstore.hisptanzania.org/" target="_blank" class="btn btn-primary" style="border-color: #fff; color: #fff;">Try our apps now</a>
                </div>
            </div>
        </div>
        <news-event></news-event>
        <featured-article></featured-article>
    </div>
</div>
<partners></partners>
