ul li a {
  text-transform: uppercase;
  font-weight: 600;
}

#logo {
  margin-top: -6px
}

.active-btn {
  background-color: #158EDC;
  color: #ffffff !important;
}

.nav li a:hover {
  background-color: #158EDC;
  color: #ffffff;
}
