<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<ul class="list-inline" id="logo">-->
        <!--<li><a class="navbar-brand" routerLink="/"> <img src="/assets/img/logo.png"></a></li>-->
        <!--<li>HISP Tanzania</li>-->
      <!--</ul>-->
      <a class="navbar-brand" id="logo" routerLink="/"> <img src="assets/img/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
      <!--</ul>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/" class="show-or-hide-navbar" id="home" (click)="navFunction('home')">Home</a></li>
        <li><a routerLink="/services" id="services" class="show-or-hide-navbar" (click)="navFunction('services')">Services</a></li>
        <li class="dropdown">
          <a href="#" id="dpdwn" class="dropdown-toggle show-or-hide-navbar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/projects" id="projects" class="show-or-hide-navbar"  (click)="navFunction('projects')">Projects</a></li>
            <li><a routerLink="/capacity-building" class="show-or-hide-navbar" id="capacity-building"  (click)="navFunction('capacity-building')">Capacity Building</a></li>
          </ul>
        </li>
        <li><a routerLink="/about-us" id="about-us" class="show-or-hide-navbar" (click)="navFunction('about-us')">About us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
